* {
  box-sizing: border-box;
  }

 img{
  width: 99%;
 }


a{
  color: black;
  text-decoration: none;
}
h3{
  font-family: 'Merriweather', serif;
}

h4{
  font-family: 'Roboto', sans-serif;
}

h6{
opacity: 70%;
margin-top: 0%;
font-size: .9rem;
color:rgb(200, 8, 8);
font-family: Arial, Helvetica, sans-serif;
}

h7{
  margin-bottom: 2%;
}

body {
margin: 0;
padding: 20px;
background-color: #FFFFFF;
font-size: 18px;
font-family: 'Roboto', sans-serif;
}


#branding{
display: flex;
justify-content: space-between;
 margin-top: -3%;
 color: black;
 text-decoration: underline 5px rgb(101, 2, 2) ;
 text-underline-offset: 8px; 
 font-size:14px;
}


button {
background-color: green;
padding: 10px 20px;
color: white;
border-radius: 2%;
border: none;
font-weight: bold;
}

button:hover {
transform: scale(1.1);
cursor: pointer;
box-shadow: 5px 5px 5px grey;
}

#bottom-btn{
display:flex;
justify-content: space-between;
margin-bottom: 2%;
}

#Top-Nav{
display: none;
}

/* The sidepanel menu */
.sidepanel {
height: 320px; /* Specify a height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0;
right:0;
background-color: #111; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 5%; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: flex;
transition: 0.3s;
}


/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
float: right;
font-size: 50px;
margin-top: -10%;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
font-size: 1.5rem;;
cursor: pointer;
background-color: white;
color: maroon;
float:right; 
border: none;
}

.openbtn:hover {
background-color: white;
}

#footer1 {
  display: flex;
  gap: 10%;
  flex-wrap: wrap; 
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  z-index: 1;
  border:2px solid whitesmoke;
  border-radius: 20px;
  background-color:	#7393B3;
}


@media  (min-width:715px) {

  img{
    width: 30%;
    height: auto;
  }

#mySidepanel{
  display: none;
}

.openbtn {
  display: none;
}

#branding{
  margin-top: -2%;
   color: black;
   text-decoration: underline 5px rgb(101, 2, 2) ;
   text-underline-offset: 8px; 
   font-size:1.2rem;
   
  }


#footer1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 5%;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

#footer1 #about{
margin-left: auto;
}


#footer1 p:hover {
  text-decoration: underline 5px rgb(101, 2, 2) ;
  text-underline-offset: 1.5rem; 
}

#Top-Nav {
  display: flex;
  gap: 4%;
  border:2px solid whitesmoke;
  border-radius: 20px;
  background-color: 	white;     
}

.fixed {
  position: fixed;
  top:-.5%; 
  left:0;
  width: 100%; 
  z-index: 1;
}

#Top-Nav p{
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
#Top-Nav  #about  {
  margin-left: auto;
  /*margin-left: 600px;*/
}

#Top-Nav p:hover {
  text-decoration: underline 5px rgb(101, 2, 2) ;
  text-underline-offset: 1.5rem; 
}
  
  #content-box {
    display: flex;
    margin: 2%;
    gap: 2%;
    align-items: center;
  }

  #content-body{
    display: flex;
    flex-direction: column;   
  }
  #social  {
    margin-left: auto;
    display: flex;
    flex-direction: row;
   height: 50%;
   }

      /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2%;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  }

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white; 
}


 
}





